<div
  style="
    font-family: sans-serif;
    width: 100%;
    padding: 50px 0;
    background: #eee;
  "
>
  <div
    style="
      width: 600px;
      margin: 0 auto;
      padding: 30px 5% 5px;
      background: #fff;
      max-width: 80%;
    "
  >
    <img
      height="81"
      width="356"
      style="margin: 0 auto; display: block; max-width: 100%; height: auto;"
      width="356"
      src="<%= logo %>"
    />

    <h1
      style="
        margin-top: 30px;
        border-top: 1px solid #eee;
        padding-top: 30px;
        font-size: 25px;
      "
    >
      Prezado(a) <%= name %>,
    </h1>
    <p style="margin-top: 20px; line-height: 150%;">
      Parabéns pela excelente iniciativa! Ela foi recebida e encaminhada para
      nossa equipe de produção de atividades. Caso necessário, entraremos em
      contato para obter mais informações.
    </p>
    <p style="margin-top: 20px; line-height: 150%;">
      Obrigado e continue contribuindo para o Conexão DNIT!
    </p>
    <p
      style="
        font-size: 13px;
        margin-top: 30px;
        padding-top: 10px;
        border-top: 1px solid #eee;
        text-align: center;
      "
    >
      Esta é uma mensagem automática, não responda esse e-mail.
    </p>
  </div>
</div>
