.presentation-page {
  position: relative;
  align-items: center;

  .img__page>div {
    background-position-y: center;
    min-height: 200px;
    background-size: contain;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
  }

  @media (max-width: 992px) {
    .img__page>div {
      min-height: 120px;
    }
  }

  .details-titles {
    display: grid;
    grid-template-columns: auto fit-content(80%) auto;
    text-align: center;
    width: 100%;
    align-items: center;
    text-transform: uppercase;

    &::after,
    &::before {
      background-color: #bdbdbd;
      height: 1px;
      content: "";
    }
  }
}
