<div
  style="
    font-family: sans-serif;
    width: 100%;
    padding: 50px 0;
    background: #eee;
  "
>
  <div
    style="
      width: 600px;
      margin: 0 auto;
      padding: 30px 5% 5px;
      background: #fff;
      max-width: 80%;
    "
  >
    <img
      height="81"
      width="356"
      style="margin: 0 auto; display: block; max-width: 100%; height: auto;"
      width="356"
      src="<%= logo %>"
    />

    <h1
      style="
        margin-top: 30px;
        border-top: 1px solid #eee;
        padding-top: 30px;
        font-size: 25px;
      "
    >
      Prezado(a) <%= name %>,
    </h1>
    <p style="margin-top: 20px; line-height: 150%;">
      Informamos que seu perfil foi alterado para o perfil de professor.
    </p>
    <a
      href="<%= url %>"
      style="
        margin: 30px auto;
        width: 200px;
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        background: #1659bf;
        padding: 15px 15px;
        border-radius: 2px;
      "
      target="_blank"
    >
      Conexão DNIT
    </a>
    <p
      style="
        font-size: 13px;
        margin-top: 30px;
        padding-top: 10px;
        border-top: 1px solid #eee;
        text-align: center;
      "
    >
      Esta é uma mensagem automática, não responda esse e-mail.
    </p>
  </div>
</div>
